
.banner{
    width: 100%;
    height: auto;
    border: magenta solid;
    position: relative;
}

.banner img{
    width: 90%;
    height: 150pt;
    object-fit: cover;
}

.titulo{
    top: 45%;
    position: absolute;
}

.contenedores{
    width: 100%;
    height: 200px;
}

.contenedor{
    width: 29.8%;
    height: 100%;
    border: blue solid;
    float: left;
}

