body{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(230, 230, 230);
}

.indice{
    font-size: 1.5rem;
}

ol{
    list-style:upper-roman;
}

ol ol{
    list-style:lower-roman;
}

a{
    text-decoration: inherit;
    color: #333333;
}

.introuccion{
    font-size: 1em;
}

.explicacion{
    font-size: 1.5rem;
}

.conclusion{
    font-size: 1em;
    text-align: justify;
    padding: 5px;
}

.datos{
    font-size: .75em;
}


.banner{
    width: 100%;
    height: auto;
    color: white;
    position: relative;
}

.banner img{
    width: 95%;
    height: 150pt;
    object-fit: cover;
    border-radius: 3px;
    filter:brightness(0.6);
}

.titulo{
    left: 5%;
    top: 45%;
    position: absolute;
}

.contenedores{
    width: 100%;
    height: 697px;
    margin-top: 10px;
    overflow-y: scroll;
}

.contenedor{
    width: 30%;
    height: auto;
    padding: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    vertical-align: top;
    position: relative;
}

.animal img{
    width: 100%;
    object-fit: cover;
}

#contenedor2{
    background-color: rgb(230, 230, 230);
    left: 30%;
}
#contenedor3{
    left: 30%;
    height: 685px;
}

.introuccion{
    background-color: white;
    width: auto;
    padding: 10px;
    margin-top: -5px;
    border-radius: 3px;
    text-align: justify;
}

.explicacion article{
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: white;
    text-align: justify;
}


#contenedor1{
    position: fixed;
    width: 30%;
    height: 685px;
}
