body{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

.indice{
    font-size: 1.5rem;
}

.introuccion{
    font-size: 1em;
}

.explicacion{
    font-size: 1.5rem;
}

.conclusion{
    font-size: 1em;
}

.datos{
    font-size: .75em;
}


.banner{
    width: 100%;
    height: auto;
    position: relative;
}

.banner img{
    width: 90%;
    height: 150pt;
    object-fit: cover;
}

.titulo{
    top: 45%;
    position: absolute;
}

.contenedores{
    width: 100%;
    height: auto;
}

.contenedor{
    width: 29.4%;
    height: 100%;
    padding: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 3px;

    vertical-align: top;
}



